article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q::before, q::after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.page {
  min-height: 100%;
}

.page__wrap {
  clear: both;
  margin: 0 auto;
  max-width: 1230px;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.page__wrap::before, .page__wrap::after {
  content: "";
  display: table;
}

.page__wrap::after {
  clear: both;
}

.page :where(h1, h2, h3) {
  margin: 0;
  color: #000;
  font-size: clamp(1.1875rem, 4vw, 1.875rem);
  font-weight: 700;
  text-transform: uppercase;
}

.page :where(h1, h2, h3) i {
  font-style: normal;
  color: #005DAC;
}

.page h3 {
  font-size: clamp(1.125rem, 3vw, 1.625rem);
  font-weight: 600;
}

.page__btn {
  min-width: 160px;
  padding: 15px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  display: inline-block;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.page__btn:focus {
  outline: none;
  border: none;
}

.page__btn--curr {
  color: #fff;
  background-color: #1A1A1A;
}

.page__btn--curr:hover {
  background-color: #005DAC;
}

.page__btn--main {
  background-color: #005DAC;
  color: #fff;
}

.page__btn--main:hover {
  background-color: #1A1A1A;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("../font/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Inter-Regular.woff2") format("woff2"), url("../font/Inter-Regular.woff") format("woff"), url("../font/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter-LightBETA.eot");
  src: local("Inter Light BETA"), local("Inter-LightBETA"), url("../font/Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("../font/Inter-LightBETA.woff2") format("woff2"), url("../font/Inter-LightBETA.woff") format("woff"), url("../font/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter-SemiBold.eot");
  src: local("Inter Semi Bold"), local("Inter-SemiBold"), url("../font/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Inter-SemiBold.woff2") format("woff2"), url("../font/Inter-SemiBold.woff") format("woff"), url("../font/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"), url("../font/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Inter-Bold.woff2") format("woff2"), url("../font/Inter-Bold.woff") format("woff"), url("../font/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter-ExtraBold.eot");
  src: local("Inter Extra Bold"), local("Inter-ExtraBold"), url("../font/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/Inter-ExtraBold.woff2") format("woff2"), url("../font/Inter-ExtraBold.woff") format("woff"), url("../font/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter-Medium.eot");
  src: local("Inter Medium"), local("Inter-Medium"), url("../font/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Inter-Medium.woff2") format("woff2"), url("../font/Inter-Medium.woff") format("woff"), url("../font/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html, body {
}

body {
  line-height: 1.25;
  color: #000;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width: 900px;
  max-height: 90vh;
}
.wrap
{
	padding: 20px;
}
table
{
	width: 100%;
	
}
table td, table th
{
	padding: 0.2em;
	border: solid 1px #666;
}
table th
{
	padding: 0.5em 0.2em;
	background-color: #005dac;
	color: #ffffff;
}
table tr:nth-child(even) td
{
	background-color: #e0e6eb;
}