<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Политика конфиденциальности</title>
</head>
<body style="display: flex; justify-content: center">
  <div style="width: 50%; margin-top: 100px; margin-bottom: 100px; font-size: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center">

    УТВЕРЖДЕНА <br>
    Приказом Генерального директора<br>
    АО «ОЭЗ ППТ «Алабуга»<br>
    От «23» мая 2023г.<br>
    № 469 .<br>



    ПОЛИТИКА ОБРАБОТКИ И ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ<br>
    в Акционерном обществе «Особая экономическая зона промышленно-производственного типа
    «Алабуга»<br>

    1. ОБЩИЕ ПОЛОЖЕНИЯ<br>
    1.1. Настоящая Политика Акционерного общества «Особая экономическая зона
    промышленно-производственного типа «Алабуга» (далее - Общество/Оператор) в отношении
    обработки персональных данных (далее - Политика) разработана с учетом требований
    Конституции Российской Федерации, законодательных и иных нормативных актов Российской
    Федерации и во исполнение требований пункта 2 части 1 статьи 18.1 Федерального закона от
    27.07.2006 № 152-ФЗ «О персональных данных» (далее – Закон о персональных данных) в целях
    обеспечения защиты прав и свобод человека и гражданина при обработке его персональных
    данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную
    тайну.<br>
    1.2. Политика действует в отношении всех персональных данных (далее - ПД),
    обрабатываемых Оператором в том числе, но не ограничиваясь, и ПД, полученных посредством
    сайтов Оператора: https://alabuga.ru, https://sezalabuga.ru, https://alabuga-polytech.ru и все их
    поддоменные имена (https://hr.alabuga.ru, https://rs.alabuga.ru и тд).<br>
    1.3. Во исполнение требований части 2 статьи 18.1 Закона о персональных данных
    настоящая Политика публикуется в свободном доступе в информационно-телекоммуникационной
    сети Интернет на сайтах Оператора.<br>
    1.4. Положения Политики служат основой для разработки локальных нормативных актов,
    регламентирующих вопросы обработки Оператором ПД работников и других субъектов ПД.<br>

    2. ТЕРМИНЫ И ПРИНЯТЫЕ СОКРАЩЕНИЯ<br>
    2.1. Персональные данные (ПД) – любая информация, относящаяся к прямо или косвенно
    определенному физическому лицу (субъекту персональных данных).<br>
    2.2. Персональные данные, разрешенные субъектом персональных данных для
    распространения – это персональные данные, доступ неограниченного круга лиц к которым
    предоставлен субъектом персональных данных путем дачи согласия на обработку персональных
    данных, разрешенных субъектом персональных данных для распространения.<br>
    2.3. Субъект персональных данных - физическое лицо, которое прямо или косвенно
    определено или определяемо с помощью ПД.<br>
    2.3. Оператор персональных данных (оператор) – государственный орган,
    муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с
    другими лицами организующие и (или) осуществляющие обработку персональных данных, а
    также определяющие цели обработки персональных данных, состав персональных данных,
    подлежащих обработке, действия (операции), совершаемые с персональными данными.<br>
    2.4. Обработка персональных данных – любое действие (операция) или совокупность
    действий (операций) с персональными данными, совершаемых с использованием средств
    автоматизации или без их использования. Обработка персональных данных включает в себя в том
    числе: сбор; запись; систематизацию; накопление; хранение; уточнение (обновление, изменение);
    извлечение; использование; передачу (предоставление, доступ); распространение; обезличивание;
    блокирование; удаление; уничтожение.<br>

    2.5. Автоматизированная обработка персональных данных – обработка персональных
    данных с помощью средств вычислительной техники.<br>
    2.6. Предоставление персональных данных – действия, направленные на раскрытие
    персональных данных определенному лицу или определенному кругу лиц.<br>
    2.7. Блокирование персональных данных – временное прекращение обработки
    персональных данных (за исключением случаев, если обработка необходима для уточнения
    персональных данных).<br>
    2.8. Уничтожение персональных данных – действия, в результате которых становится
    невозможным восстановить содержание персональных данных в информационной системе
    персональных данных и (или) в результате которых уничтожаются материальные носители
    персональных данных.<br>
    2.9. Обезличивание персональных данных – действия, в результате которых становится
    невозможным без использования дополнительной информации определить принадлежность
    персональных данных конкретному субъекту персональных данных.<br>
    2.10. Информационная система персональных данных – совокупность содержащихся в
    базах данных персональных данных и обеспечивающих их обработку, информационных
    технологий и технических средств.<br>
    2.11. Трансграничная передача персональных данных – передача персональных данных
    на территорию иностранного государства органу власти иностранного государства, иностранному
    физическому лицу или иностранному юридическому лицу.<br>

    3 ПОРЯДОК И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ<br>
    3.1. Обработка ПД осуществляется Оператором в соответствии с требованиями
    законодательства Российской Федерации.<br>
    3.2. Обработка ПД осуществляется Оператором исключительно с согласия субъектов ПД на
    обработку их ПД, а также без такового в случаях, предусмотренных законодательством
    Российской Федерации.<br>
    3.3. Согласие на обработку ПД, разрешенных субъектом ПД для распространения,
    оформляется отдельно от иных согласий субъекта ПД на обработку его ПД.<br>
    3.4. Согласие на обработку ПД, разрешенных субъектом ПД для распространения, может
    быть предоставлено Оператору непосредственно либо путем подтверждения субъектом ПД факта
    ознакомления с настоящей политикой на сайтах Оператора, указанных в п 1.2. настоящей
    Политики.<br>
    3.5. К обработке ПД допускаются работники Оператора.<br>
    3.6. Обработка ПД осуществляется путем:<br>
    - неавтоматизированной обработки ПД;<br>
    - автоматизированной обработки ПД с передачей данной полученной информации по
    информационно-телекоммуникационным сетям или без таковой;<br>
    - смешанной обработки ПД.<br>
    3.8. Оператор без согласия субъекта ПД не раскрывает третьим лицам и не распространяет
    ПД, если иное не предусмотрено федеральным законом.<br>
    3.9. Передача ПД органам дознания и следствия, в Федеральную налоговую службу,
    Пенсионный фонд, Фонд социального страхования и другие уполномоченные органы
    исполнительной власти и организации осуществляется Оператором в соответствии с
    требованиями законодательства Российской Федерации.<br>
    3.10. Оператор принимает необходимые правовые, организационные и технические меры
    для защиты ПД от неправомерного или случайного доступа к ним, уничтожения, изменения,
    блокирования, распространения и других несанкционированных действий, в том числе:<br>
    - определяет угрозы безопасности ПД при их обработке;<br>
    - принимает локальные нормативные акты и иные документы, регулирующие отношения в
    сфере обработки и защиты ПД;<br>
    - назначает лиц, ответственных за обеспечение безопасности ПД в
    структурных подразделениях и информационных системах Оператора;<br>
    - создает необходимые условия для работы с ПД;<br>
    - организует учет документов, содержащих ПД;<br>
    - организует работу с информационными системами, в которых обрабатываются ПД;<br>
    - хранит ПД в условиях, при которых обеспечивается их сохранность и
    исключается неправомерный доступ к ним;<br>
    3.11. Оператор осуществляет хранение ПД в форме, позволяющей определить субъекта ПД,
    не дольше, чем этого требуют цели обработки ПД, если срок хранения ПД не установлен
    федеральным законом, договором или соглашением.<br>
    3.12. При сборе ПД, в том числе посредством информационно телекоммуникационной сети
    интернет, Оператор обеспечивает запись, систематизацию, накопление, хранение, уточнение
    (обновление, изменение), извлечение персональных данных граждан Российской Федерации с
    использованием баз данных, находящихся на территории Российской Федерации, за исключением
    случаев, указанных в пунктах 2, 3, 4, 8 части 1 статьи 6 Федерального закона «О персональных
    данных».<br>
    3.13. Цели обработки ПД:<br>
    3.13.1. Обработке подлежат только ПД, которые отвечают целям их обработки.<br>
    3.13.2. Обработка Оператором ПД осуществляется в следующих целях:<br>
    - обеспечение соблюдения Конституции, федеральных законов и иных нормативных
    правовых актов Российской Федерации;<br>
    - осуществление своей деятельности в соответствии с уставом Оператора;
    - ведение кадрового делопроизводства;<br>
    - содействие работникам в трудоустройстве, получении образования и продвижении по
    службе, обеспечение личной безопасности работников, контроль количества и качества
    выполняемой работы, обеспечение сохранности имущества Оператора;<br>
    - привлечение и отбор кандидатов на работу у Оператора;<br>
    - организация постановки на индивидуальный (персонифицированный) учет работников в
    системе обязательного пенсионного страхования;<br>
    - заполнение и передача в органы исполнительной власти и иные уполномоченные
    организации требуемых форм отчетности;<br>
    - осуществление гражданско-правовых отношений;<br>
    - ведение бухгалтерского учета;<br>
    - осуществление пропускного режима.<br>
    3.14.3. Обработка ПД работников может осуществляться исключительно в целях
    обеспечения соблюдения законов и иных нормативных правовых актов.<br>
    3.15. Перечень субъектов ПД, ПД которых обрабатываются Оператором:<br>
    - физические лица, состоящие с Обществом в трудовых отношениях;<br>
    - физические лица, уволившиеся из Общества;<br>
    - физические лица, являющиеся кандидатами на прием на работу;<br>
    - физические лица, состоящие с Обществом в гражданско-правовых отношениях.<br>
    3.16. Перечень ПД, обрабатываемых Оператором:<br>
    - данные, полученные при осуществлении трудовых отношений;<br>
    - данные, полученные для осуществления отбора кандидатов на прием на работу;<br>
    - данные, полученные при осуществлении гражданско-правовых отношений.<br>
    3.17. Категории ПД, которые могут подлежать обработке Оператором:<br>
    - фамилия, имя, отчество;<br>
    - пол;<br>
    - гражданство;<br>
    - дата и место рождения;<br>
    - контактные данные;<br>
    - сведения об образовании, опыте работы, квалификации;<br>
    - иные персональные данные, сообщаемые кандидатами в резюме и сопроводительных
    письмах;<br>
    - биометрические данные лица (в том числе фото).<br>

    4. ХРАНЕНИЕ И УНИЧТОЖЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ<br>
    4.1. ПД субъектов могут быть получены, проходить дальнейшую обработку и передаваться
    на хранение как на бумажных носителях, так и в электронном виде.<br>
    4.2. ПД, зафиксированные на бумажных носителях, хранятся в запираемых шкафах либо в
    запираемых помещениях с ограниченным правом доступа к таким помещениям.<br>

    4.3. ПД субъектов, обрабатываемые с использованием средств автоматизации в разных
    целях, хранятся в разных папках.<br>
    4.4. Хранение ПД в форме, позволяющей определить субъекта ПД, осуществляется не
    дольше, чем этого требуют цели их обработки и они подлежат уничтожению по достижении целей
    обработки или в случае утраты необходимости в их достижении.<br>
    4.5. Уничтожение ПД.<br>
    4.6. Уничтожение документов (носителей), содержащих ПД, производится путем
    сожжения, дробления (измельчения), химического разложения, превращения в бесформенную
    массу или порошок. Для уничтожения бумажных документов допускается применение шредера.<br>
    4.7. ПД на электронных носителях уничтожаются путем стирания или форматирования
    носителя.<br>
    4.8. Факт уничтожения ПД подтверждается документально актом об уничтожении
    носителей. Акт составляется сотрудником, которым было фактически произведено уничтожение
    ПД, и подписывается. При этом для дополнительного подтверждения факта удаления на акте так
    же ставится подпись непосредственного руководителя такого сотрудника.<br>

    5. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ<br>
    5.1. В соответствии с требованиями нормативных документов Оператором создана система
    защиты персональных данных (далее- СЗПД), состоящая из подсистем правовой, организационной
    и технической защиты.<br>
    5.2. Подсистема правовой защиты представляет собой комплекс правовых, организационно-
    распорядительных и нормативных документов, обеспечивающих создание, функционирование и
    совершенствование СЗПД.<br>
    5.3. Подсистема организационной защиты включает в себя организацию структуры
    управления СЗПД, разрешительной системы, защиты информации при работе с работниками,
    партнерами и сторонними лицами.<br>
    5.4. Подсистема технической защиты включает в себя комплекс технических,
    программных, программно-аппаратных средств, обеспечивающих защиту ПД.<br>
    5.4. Основными мерами защиты ПД, используемыми Оператором, являются:<br>
    5.5.1. Назначение лица, ответственного за обработку ПД, которое осуществляет
    организацию обработки ПД, обучение и инструктаж, внутренний контроль за соблюдением
    Оператором и его работниками требований к защите ПД.<br>
    5.5.2. Определение актуальных угроз безопасности ПД при их обработке в
    информационных системах ПД (далее- ИСПД) Оператора и разработка мер и мероприятий по
    защите ПД.<br>
    5.5.3. Разработка политики в отношении обработки ПД Оператором.<br>
    5.5.4. Установление правил доступа к ПД, обрабатываемым в ИСПД Оператора, а также
    обеспечение регистрации и учета всех действий, совершаемых с ПД в ИСПД.<br>
    5.5.5. Установление индивидуальных паролей доступа работников в ИСПД в соответствии
    с их производственными обязанностями.<br>
    5.5.6. Применение прошедших в установленном порядке процедуру оценки соответствия
    средств защиты информации.<br>
    5.5.7. Сертифицированное антивирусное программное обеспечение с регулярно
    обновляемыми базами.<br>
    5.5.8. Соблюдение условий, обеспечивающих сохранность ПД и исключающих
    несанкционированный к ним доступ.<br>
    5.5.9. Обнаружение фактов несанкционированного доступа к ПД и принятие необходимых
    мер.<br>
    5.5.10. Восстановление ПД, модифицированных или уничтоженных вследствие
    несанкционированного доступа к ним.<br>
    5.5.11. Обучение работников Оператора, непосредственно осуществляющих обработку ПД,
    положениям законодательства РФ о ПД, в том числе требованиям к защите ПД, документам,
    определяющим политику Оператора в отношении обработки ПД, локальным актам по вопросам
    обработки ПД.<br>
    5.5.12. Осуществление внутреннего контроля и аудита.<br>
    6. ОСНОВНЫЕ ПРАВА СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ И ПРАВА И
    ОБЯЗАННОСТИ ОПЕРАТОРА<br>
    6.1. Субъект ПД имеет право на:<br>
    - получение полной информации о своих ПД, обрабатываемых Оператором;<br>
    - доступ к своим ПД, включая право на получение копии любой записи, содержащей его
    ПД, за исключением случаев, предусмотренных федеральным законом;<br>
    - получение сведений о правовых основаниях и целях обработки ПД;<br>
    - получение сведений о целях и применяемые Оператором способах обработки ПД;<br>
    - получение сведений о наименовании и месте нахождения Оператора, сведений о лицах (за
    исключением работников Оператора), которые имеют доступ к ПД или которым могут быть
    раскрыты ПД на основании договора с Оператором или на основании федерального закона;<br>
    - получение сведений о сроках обработки ПД, в том числе сроках их хранения;<br>
    - получение сведений о порядке осуществления субъектом ПД прав, предусмотренных
    федеральным законом;<br>
    - получение сведений о наименовании или фамилии, имени, отчестве и адресе лица,
    осуществляющего обработку ПД по поручению Оператора, если обработка поручена или будет
    поручена такому лицу;<br>
    -обращение к Оператору и направление ему запросов;<br>
    - обжалование действий или бездействия Оператора в уполномоченный орган по защите
    прав и субъектов ПД или в суд.<br>
    6.2. Оператор имеет право:<br>
    - самостоятельно определять состав и перечень мер, необходимых и достаточных для
    обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и
    принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено
    Законом о персональных данных или другими федеральными законами;<br>
    - поручить обработку персональных данных другому лицу с согласия субъекта
    персональных данных, если иное не предусмотрено федеральным законом, на основании
    заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по
    поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных,
    предусмотренные Законом о персональных данных;<br>
    - в случае отзыва субъектом персональных данных согласия на обработку персональных
    данных Оператор вправе продолжить обработку персональных данных без согласия субъекта
    персональных данных при наличии оснований, указанных в Законе о персональных данных.<br>
    6.3. Оператор обязан:<br>
    - при сборе ПД предоставить информацию об обработке ПД;<br>
    - в случаях если ПД были получены не от субъекта ПД, уведомить субъекта;<br>
    - при отказе в предоставлении ПД субъекту разъяснить юридические последствия такого
    отказа;<br>
    - опубликовать или иным образом обеспечить неограниченный доступ к документу,
    определяющему его политику в отношении обработки ПД;<br>
    - принимать необходимые правовые, организационные и технические меры или
    обеспечивать их принятие для защиты ПД от неправомерного или случайного доступа к ним,
    уничтожения, изменения, блокирования, копирования, предоставления, распространения ПД, а
    также от иных неправомерных действий в отношении ПД;<br>
    - давать ответы на запросы и обращения субъектов ПД, их представителей и
    уполномоченного органа по защите прав субъектов ПД.<br>

    7. АКТУАЛИЗАЦИЯ, ИСПРАВЛЕНИЕ, УДАЛЕНИЕ И УНИЧТОЖЕНИЕ
    ПЕРСОНАЛЬНЫХ ДАННЫХ, ОТВЕТЫ НА ЗАПРОСЫ СУБЪЕКТОВ
    НА ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ<br>
    7.1. Подтверждение факта обработки ПД Оператором, правовые основания и цели
    обработки ПД, а также иные сведения, указанные в части 7 статьи 14 Федерального закона о ПД,
    предоставляются Оператором субъекту ПД или его представителю при обращении либо при
    получении запроса субъекта ПД или его представителя.
    В предоставляемые сведения не включаются ПД, относящиеся к другим субъектам ПД, за
    исключением случаев, когда имеются законные основания для раскрытия таких ПД.<br>

    Запрос должен содержать:<br>
    - номер основного документа, удостоверяющего личность субъекта ПД или его
    представителя, сведения о дате выдачи указанного документа и выдавшем его органе, а также
    оригинал документа, подтверждающие полномочия представителя субъекта ПД на оформление
    такого запроса и получение запрашиваемой информации;<br>
    - сведения, подтверждающие участие субъекта ПД в отношениях с Оператором (номер
    договора, дата заключения договора, условное словесное обозначение и (или) иные сведения),
    либо сведения, иным образом подтверждающие факт обработки ПД Оператором;<br>
    - подпись субъекта ПД или его представителя.<br>
    Запрос может быть направлен в форме электронного документа и подписан электронной
    подписью в соответствии с законодательством Российской Федерации.
    Если в обращении (запросе) субъекта ПД не отражены в соответствии с требованиями
    Федерального закона о ПД все необходимые сведения или субъект не обладает правами доступа к
    запрашиваемой информации, то ему направляется мотивированный отказ.
    Право субъекта персональных данных на доступ к его ПД может быть ограничено в
    соответствии с частью 8 статьи 14 Федерального закона о ПД, в том числе если доступ субъекта
    ПД к его ПД нарушает права и законные интересы третьих лиц.<br>
    7.2. В случае выявления неточных ПД при обращении субъекта ПД или его представителя
    либо по их запросу или по запросу уполномоченного органа по защите прав и субъектов ПД,
    Оператор осуществляет блокирование ПД, относящихся к этому субъекту ПД, с момента такого
    обращения или получения указанного запроса на период проверки, если блокирование ПД не
    нарушает права и законные интересы субъекта ПД или третьих лиц.
    В случае подтверждения факта неточности ПД Оператор на основании сведений,
    представленных субъектом ПД или его представителем либо уполномоченным органом по защите
    прав и субъектов ПД, или иных необходимых документов уточняет ПД в течение семи рабочих
    дней со дня представления таких сведений и снимает блокирование ПД.<br>
    7.3. В случае выявления неправомерной обработки ПД при обращении (запросе) субъекта
    персональных данных или его представителя либо уполномоченного органа по защите прав и
    субъектов ПД Оператор осуществляет блокирование неправомерно обрабатываемых ПД,
    относящихся к этому субъекту ПД, с момента такого обращения или получения запроса.<br>
    7.4. При достижении целей обработки ПД, а также в случае отзыва субъектом ПД согласия
    на их обработку, ПД подлежат уничтожению, если:<br>
    - иное не предусмотрено договором, стороной которого, выгодоприобретателем или
    поручителем, по которому является субъект ПД;<br>
    - Оператор не вправе осуществлять обработку без согласия субъекта ПД на основаниях,
    предусмотренных Законом о персональных данных или иными федеральными законами;<br>
    - иное не предусмотрено другим соглашением между Оператором и субъектом ПД.<br>

    8. КОНТРОЛЬ И ОТВЕТСТВЕННОСТЬ<br>
    8.1. Лицо, ответственное за организацию обработки ПД организует непрерывный процесс
    контроля соблюдения Оператором требований Федерального законодательства в области ПД.<br>
    8.2. Должностные лица Оператора, виновные в нарушении норм, регулирующих обработку
    и защиту ПД, несут ответственность, предусмотренную законодательством Российской
    Федерации.<br>

    9. ИЗМЕНЕНИЕ ПОЛИТИКИ. ПРИМЕНИМОЕ ЗАКОНОДАТЕЛЬСТВО<br>
    9.1. Оператор имеет право вносить изменения в настоящую Политику без предварительного
    уведомления субъектов ПД. Субъекты ПД, являющиеся пользователями сайта Оператора могут
    отслеживать изменения в Политике самостоятельно. Новая редакция настоящей Политики
    вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией
    Политики.<br>
    9.2. К настоящей Политике и отношениям между субъектами ПД и Оператором,
    возникающим в связи с применением настоящей Политики, подлежит применению право
    Российской Федерации.

  </div>
</body>
</html>
